<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767729462248-6t1t82se9jhdr20buu2vcb3qktslp8hq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767729462248-6t1t82se9jhdr20buu2vcb3qktslp8hq</string>
	<key>API_KEY</key>
	<string>AIzaSyC6Tc0gvJi98AFhvMgCQqiQbzU0jgVGm5g</string>
	<key>GCM_SENDER_ID</key>
	<string>767729462248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMiniProjects</string>
	<key>PROJECT_ID</key>
	<string>flutter-crud-b4e3b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-crud-b4e3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767729462248:ios:da519349cbe7c9a26f925d</string>
</dict>
</plist>